

body {
  margin: 0;
  background-color: black !important;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
}


.read-the-docs {
  color: #888;
}