.about-container {
  color: white;
  min-height: 100vh;
  background-color: transparent; 
  width: 100%;
}

.about-hero {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(74, 20, 140, 0.3), transparent);
  text-align: center;
}

.text-purple {
  color: #a726ff;
  font-weight: bold;
}


.team-card-wrapper {
  width: 100%;
  max-width: 280px; 
  position: relative;
  padding: 2px;
  background: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
}

.team-card {
  background-color: #111 !important;
  border: none !important;
}

.team-card img {
  height: 250px;
  object-fit: cover;
}